@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --veryDarkMagenta: hsl(300, 43%, 22%);
  --softPink: hsl(333, 80%, 67%);
  --darkGrayishMagenta: hsl(303, 10%, 53%);
  --lightGrayishMagenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

body {
  font-family: "Spartan", sans-serif;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.container {
  max-width: 1166px;
  margin: 0 auto;
  padding: 78px 28px;
}
@media screen and (min-width: 1024px) {
  .container {
    padding-top: 0;
    padding-bottom: 0;
  }
}

main {
  display: grid;
  row-gap: 38px;
  column-gap: 30px;
}
@media screen and (min-width: 1024px) {
  main {
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem 0;
    align-items: center;
  }
}

.hero {
  text-align: center;
}
.hero-title {
  color: var(--veryDarkMagenta);
  padding: 1rem 0;
  line-height: 2rem;
  font-size: 32px;
}
.hero-text {
  color: var(--darkGrayishMagenta);
  line-height: 1.65rem;
  font-size: 0.89em;
  font-weight: 500;
}
@media screen and (min-width: 1024px) {
  .hero {
    text-align: left;
  }
  .hero-title {
    font-size: 55px;
    line-height: 1em;
  }
  .hero-text {
    line-height: 2rem;
    font-size: 1.1rem;
  }
}

.rated {
  text-align: center;
  display: grid;
  gap: 1rem;
}
.rated-item {
  background-color: var(--lightGrayishMagenta);
  border-radius: 0.5rem;
  padding: 1rem 0;
}
.rated-item-stars {
  letter-spacing: 0.25rem;
}
.rated-item-text {
  color: var(--veryDarkMagenta);
  font-weight: 700;
  margin-top: 0.5rem;
}
@media screen and (min-width: 1024px) {
  .rated-item {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 1rem;
    width: 445px;
    padding: 19px 2rem;
  }
  .rated-item:nth-of-type(1) {
    justify-self: flex-start;
  }
  .rated-item:nth-of-type(2) {
    justify-self: center;
  }
  .rated-item:nth-of-type(3) {
    justify-self: flex-end;
  }
}

.cards {
  display: grid;
  padding: 48px 0;
  gap: 1rem 30px;
  justify-content: center;
}
@media screen and (min-width: 1024px) {
  .cards {
    grid-auto-flow: column;
    min-height: 362px;
  }
}

.card {
  background-color: var(--veryDarkMagenta);
  color: var(--white);
  border-radius: 0.5rem;
  max-width: 350px;
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  padding: 40px 2rem 15px 2rem;
}
.card-header-img {
  display: block;
  width: 40px;
  border-radius: 50%;
}
.card-header-description {
  flex: 1;
}
.card-header-description-state {
  color: var(--softPink);
  opacity: 75%;
}
.card-body {
  padding: 15px 2rem 38px 2rem;
  line-height: 1.25rem;
  font-size: 0.71rem;
  font-weight: 500;
}
.card:nth-of-type(1) {
  align-self: flex-start;
}
.card:nth-of-type(2) {
  align-self: center;
}
.card:nth-of-type(3) {
  align-self: flex-end;
}

/*# sourceMappingURL=style.css.map */
